@charset "utf-8";
/* CSS Document */

/*Body, Background, Header, Container Elements*/

*{
box-sizing: border-box;}

body{background-image: url("img/sunsetground.jpg")}

.container{
width: 800px;
margin: 0 auto;
padding: 0;
font-family: "bungee", sans-serif;
font-weight: 400;
font-style: normal;}

.head{
text-align: center;
background-color: #4b3933;
height: 225px}

@media screen and (max-width: 800px) {
    .container{width: 40%}
}

/*Navigation Setup*/

.flex-nav{
background-color: #4b3933;
margin: 0;
padding: 1px 11px 1px 11px;
height: 70px}

.nav-list{
display: flex;
justify-content: center;
list-style: none;
flex-wrap:wrap;
padding: 0px 10px 0px 10px;}

.nav-item{
background-color: #1D1D1D;
padding: 0px 10px 0px 10px;
text-align: center;}

.nav-item a:link, a:visited{
color: #fff0ce;
text-decoration: none;}

.nav-item a:hover{
color: #7ce2ba;
font-family: "bungee", sans-serif;
font-weight: 800;
font-style: normal;}

#home{margin: 5px 25px 5px 25px;}
#plan{margin: 5px 25px 5px 25px;}
#explore{margin: 5px 25px 5px 25px;}
#about{margin: 5px 25px 5px 25px;}

@media screen and (max-width:800px){
    .flex-nav{flex-direction: column;}
}















